<div class="container">
  <div class="row">
    <div class="col-xs-7">
      <h3 style="text-align: center; color: aqua; ">Welcome to Ubuntu Post-graduate</h3>
    </div>
  </div>
</div>

<div style="background-color: lightskyblue" class="mb-3 form-control">
  <h4>Contact Us</h4>

  <form (ngSubmit)="submitForm()" #contactForm="ngForm">
    <div>
      <label for="name">Name:</label>
      <br>
      <input class="mb-2 form-control" type="text" id="name" name="name" [(ngModel)]="formData.name" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input class="mb-3 form-control" type="email" id="email" name="email" [(ngModel)]="formData.email" required>
    </div>
    <div>
      <label for="message">Message:</label>
      <textarea class="mb-3 form-control" id="message" name="message" [(ngModel)]="formData.message" required></textarea>
    </div>
    <button style="color: black" class="btn btn-outline-primary" type="submit" [disabled]="contactForm.invalid">Submit</button>
  </form>


  <div style="background-color: white" *ngIf="formSubmitted">
    <h2>Form Submitted Successfully!</h2>
    <p>Name: {{ formData.name }}</p>
    <p>Email: {{ formData.email }}</p>
    <p>Message: {{ formData.message }}</p>
  </div>
</div>

